[2021-03-11 20:17] cacodev commented on #1512
Looks like this all works as expected. Thank you for clarifying.  Additionally, it works in ContentProviders as well:

`override fun query(
        uri: Uri, projection: Array<String>?, selection: String?,
        selectionArgs: Array<String>?, sortOrder: String?
    ): Cursor? {
        Analytics.trackEvent("ContentProviderQuery")
...
}`

Which is handy in my environment cause I can ask the consu

[2021-03-11 20:17] #1512 closed

[2021-03-12 09:11] Jamminroot commented on #1512
Glad its resolved :) Have a nice day!

[2021-03-17 11:09] AnastasiaKubova commented on #1497
Hi there! This fix has been released in the [4.1.1](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.1.1) version of App Center SDK. Please pay attention that due to the termination of `jCenter` support all our assemblies were moved to the `Maven Central` repository.

See more about migration to `Maven Central` [here](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/

[2021-03-17 11:09] #1497 closed

[2021-03-17 11:11] AnastasiaKubova commented on #1484
Hi there! The fix has been released in the [4.1.1](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.1.1) version of App Center SDK. Please pay attention that due to the termination of `jCenter` support all our assemblies were moved to the `Maven Central` repository.

See more about migration to `Maven Central` [here](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/a

[2021-03-17 11:11] #1484 closed

[2021-03-17 11:12] AnastasiaKubova commented on #1477
Hi there! The fixes have been released in the [4.1.1](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.1.1) version of App Center SDK. Please pay attention that due to the termination of `jCenter` support all our assemblies were moved to the `Maven Central` repository.

See more about migration to `Maven Central` [here](https://docs.microsoft.com/en-us/appcenter/sdk/getting-starte

[2021-03-17 11:12] #1477 closed

[2021-03-17 11:16] AnastasiaKubova commented on #1503
Hi there! Due to the termination of `jCenter` support all our assemblies were moved to the `Maven Central` repository. Please pay attention that the `Maven Centra` doesn't contain deprecated modules.

See more about migration to `Maven Central` [here](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/android#3-add-the-app-center-sdk-modules).

[2021-03-17 11:16] #1503 closed

[2021-03-29 03:25] tunguyenngoc opened #1521 "Security Issue Alert - Using Known Vulnerable Cryptography Encryption Algorithm"
### **Description**
Dear Microsoft Team,

We got an security issue reported below while using the library.

It is observed that the lib is using ‘AES/CBC/PKCS7Padding’ which is a broken or risky cryptography algorithm.

![PKCS7Padding](https://user-images.githubusercontent.com/43739603/112783171-e48f3d80-9078-11eb-9d84-8fee8b6f5dcb.JPG)

This specific mode of CBC with PKCS7Padding is susceptible t

[2021-03-29 09:11] DmitriyKirakosyan commented on #1521
hi @tunguyenngoc

Thank you for reporting a potential security issue!
We will discuss it within the team and I will get back to you with an update.

[2021-03-31 11:40] build3r opened #1523 "App crashes on clicking download in release + minified buiilds"
### **Description**
The app crashes consistently when the user goes to background just before the apk download starts. There is no way from recovering this error when the update is mandatory.
The crash has occurred 684 times on the app affecting more than 200 users

Please describe the issue you are facing using the SDK.

### **Repro Steps**
1. Install old version with appcenter sdk v 4.1.1, with

[2021-03-31 12:29] AnastasiaKubova commented on #1523
Hi, @build3r ! Thanks for getting in touch with us! I am trying to reproduce your issue by following steps from the description but for me all work well.
Could you please
- Clarify does it happen before allowing installs from the unknown sources dialog?
- Share verbose logs?
- Share the crash report without obfuscated symbols?

[2021-03-31 13:10] build3r commented on #1523
One correction the crash is happening on library v 4.1.0 which in integrate in the old app which needs to be updated
Here are the logs after enabling verbose logging
Also one more correction, its happening on download click not on going background.

[code]

[2021-03-31 13:34] build3r commented on #1523
happening on non-debuggable, minified + shrink resource builds on library v 4.1.1

[2021-03-31 14:05] build3r commented on #1523
Yes @AnastasiaKubova Its happening only in release mode with follwing config
[code]

looks like the obfuscated class are internals classes
de-obfuscation does nothing
![image](https://user-images.githubusercontent.com/6481548/113157071-304c0d80-9258-11eb-979b-e9627bd309f3.png)

[2021-03-31 14:18] AnastasiaKubova commented on #1523
Thanks for the additional information. I need some time to check it.

[2021-04-01 09:10] build3r commented on #1523
@AnastasiaKubova were you able to reproduce the issue?
Also is there any way we can make the older app version affected by this issue upgrade to new one?

[2021-04-01 10:05] AnastasiaKubova commented on #1523
Hi, @build3r ! I am trying to reproduce your issue, but for me still all work well. Could you please share some more details:
- Does this happen only with the mandatory update or with the usual update too?
- Does this happen before allowing installs from the unknown sources dialog or when these settings already setup?
- Could you please confirm that the download manager application is enabled?

[2021-04-01 11:33] build3r commented on #1523
@AnastasiaKubova
I have created a minimal POC to reproduce the crash
you can find the repo here https://github.com/build3r/AppcenterCrash/tree/master
also see the video below:
https://github.com/build3r/AppcenterCrash/blob/master/video.mp4

Happens on both

Happens after the  unknown sources dialog

Yes it is enabled and the updates work on sdk v 4.1.0

[2021-04-01 12:41] AnastasiaKubova commented on #1523
Thanks for sharing a sample project. I will check it and notify you about the results.

[2021-04-01 12:46] build3r commented on #1523
Was able to narrow down the issue to this config
[code]
If we remove the proguard-android-optimize.txt option the issue is not observed

[2021-04-01 13:16] build3r commented on #1523
@AnastasiaKubova
This is the un-obfuscated stack trace
[code]

[2021-04-01 13:19] build3r commented on #1523
Also the following proguard rules fixes the issue
[code]

But is there any way to upgrade the users having the above issue?
There are >1600 users in our public beta version who are currently not able to update because of this issue.

[2021-04-01 15:42] JTOne123 opened #1524 "[Question] [Xamarin.Forms] Android 4.4 crash on AppCenter.Start()"
### **Description**

In my Xamarin.Forms app at the moment of initialization; when code goes to the line " AppCenter.Start(AppCenterSecret, typeof(Analytics), typeof(Crashes)); ", it immediately crashes each time when it started on Android 4.4 (other android versions work well)

Can I use AppCenter v4.2.0 with android 4.4?

### **Details**
1. Which SDK version are you using?
    - 4.2.0
2. Which O

[2021-04-02 05:51] AnastasiaKubova commented on #1524
Hi! Thanks for getting in touch with us!
Since the [4.0.0](https://github.com/microsoft/appcenter-sdk-android/blob/develop/CHANGELOG.md#version-400) version of App Center SDK the [minimum Android SDK version](https://docs.microsoft.com/en-us/appcenter/sdk/getting-started/xamarin#1-prerequisites) should be 21 API level (Android 5.0) or later.

[2021-04-02 10:53] AnastasiaKubova commented on #1523
Hi, @build3r ! Thanks for sharing the sample project. I was able to reproduce your issue. I will label this issue as a bug.
Also, I recommend you remove the `app secret` value from your test application. See more about the [protection of app-secret](https://docs.microsoft.com/en-us/appcenter/sdk/troubleshooting/android#protect-the-app-center-secret-value) value.

As an alternative way, you can try

[2021-04-02 11:56] build3r commented on #1523
Thanks @AnastasiaKubova

Have removed, but anyways I created that project only for reproducing the bug, Will delete it now.

[2021-04-05 06:02] #1524 closed

[2021-04-07 08:38] ronnyremesnik opened #1526 "Google play sent a warning regarding using hockey SDK"
### **Warning from google play**

### **Details**
We got a message lately from google play that our app is using hockey SDK
but it's already more than a year that we are not using it, we are using app center SDK 3.3.0
maybe it's using it inside?
Thanks for the help!

1. Which SDK version are you using?
    - 3.3.0
    -only the
com.microsoft.appcenter:appcenter-analytics
and
com.microsoft.appcente

[2021-04-07 10:34] MatkovIvan commented on #1526
Hi @ronnyremesnik,

Thanks for getting in touch! Based on the description, it looks like false-positive detection and it is not related to our SDK. It should not be a problem without `com.microsoft.appcenter:appcenter-distribute` and an old HockeySDK in your app. However, please check if your app doesn't contain the code (or other libraries) for downloading/installing new versions or other applica

[2021-04-07 13:10] MrMuracle commented on #1526
Almost the same problem on my end. The app I'm working on had Hockey SDK 5.1.1 (removed it for now to meet the Google Play's requirements). I've got the same warning as well.

[2021-04-07 14:21] ronnyremesnik commented on #1526
@MatkovIvan @MrMuracle
I think I found the problem, looks like we had a "retained" version in google play, the old version that still was active and this version contains the old hockey app SDK.
I'll update once we'll remove that old version.

[2021-04-12 05:56] MrMuracle commented on #1526
Hi @ronnyremesnik,

Any updates on the problem or solution?

Thanks in advance!

[2021-04-12 09:56] DmitriyKirakosyan commented on #1521
Hi @tunguyenngoc

We are using this encryption algorithm to store App Center SDK data locally on the device. We are not sending the encrypted data over the network. Also, we do not expose the error details (eg. whether it was incorrect padding or incorrect message).
Considering all above, I'm confirming that the SDK is not vulnerable to the "Padding oracle attack".

However, we will consider impro

[2021-04-12 09:56] #1521 closed

[2021-04-13 03:11] tunguyenngoc commented on #1521
Thanks @DmitriyKirakosyan and the team for the clarification and confirmation. God bless you!
Bro,
Jackie

[2021-04-15 11:58] MatkovIvan commented on #1526
Hi @ronnyremesnik, we haven't heard from you in a while so I'm closing this issue. Please reopen/comment if you have more questions or run into this again.

@MrMuracle - I guess my previous reply should fit your case too. If there are no HockeySDK and distribute module in your app - you should see no warnings. Please re-check active versions in Google Play console.

[2021-04-15 11:58] #1526 closed

[2021-04-20 08:59] crazycoder1999 commented on #1526
I received 2 emails for both of our apps using appcenter sdk (previously hockeyapp) about policy compliants.
We checked on play console, on "policy status" and there is no message there, no policy problem present.
In the end we will update the apps to the latest sdk (we were using 3.3.1)
I think it was a wrong automatic message from google.

[2021-04-27 07:31] anton-roos commented on #938
I agree with @hpoul I can't use any of the current Flutter plugins. It is just a wrapper around the Android SDK. We need better Flutter support. Some of our clients use legacy Android devices which are Android 4.x.x. these don't work with the current Flutter plugins and the current Flutter plugins does not even throw an exception running on API Level < 21, it just silently doesn't work which is no

[2021-04-27 07:53] MatkovIvan commented on #938
@anton-roos - please note that starting with App Center Android SDK [4.0](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.0.0), API 21 is a minimal one. See changelog for details:

[2021-04-27 10:27] anton-roos commented on #938
@MatkovIvan Thanks for the response, would it work if we create a wrapper around [App Center Android SDK 3.3.1](https://github.com/microsoft/appcenter-sdk-android/releases/tag/3.3.1) or is this version no longer supported by AppCenter? Does 3.3.1 allow API level 19?

[2021-04-27 10:52] DmitriyKirakosyan commented on #1478
Due to country specific policies and laws, we cannot guarantee that App Center works in all countries. For some users in China region, Analytics and Diagnostics SDK data may experience significant delay or not make it to our servers based in the United States.
Since we have not heard any new reports recently, I am closing this issue.
Please feel free to reopen it if someone faces a similar problem

[2021-04-27 10:52] #1478 closed

[2021-04-27 11:01] liangchenhe55 commented on #1478
@DmitriyKirakosyan  Thanks fou your work and I'am sorry to hear that. Maybe Microsoft can optimize the routing by, for example, CDN. Of course, I know it's a big project. If things get worse in China such as google(you know 😞 ), I will reopen this issue.

[2021-04-27 11:12] MatkovIvan commented on #938
We do not block old versions purposefully.

Yes, the minimal API level was 16. But the problem is not just minimal version - as mentioned in changelog, old Android versions do not support root certificate authority used by App Center and would not get CA certificates updates anymore. So, it won't be able to establish https connection (it's enforced due to security reasons). You can manually instal

[2021-04-27 11:50] anton-roos commented on #938
Thanks so much @MatkovIvan for all your feedback, it helps me understand the issue that we are having a lot more. Perhaps, if possible, could you point me in the right direction to get the root certificate installed on the Android devices? We do have control over all devices and hardware that use our app. I have done a search for installing the certificates on Android but most of them are domain s

[2021-04-27 13:16] MatkovIvan commented on #938
If you are looking for a temporary solution, then what may be possible (we haven’t tested automated way/no official support) is to stick to the old SDK and programmatically trust the new root CA "DigiCert Global Root G2". It’s temporary because there is no guarantee that it won’t be changed again in the future (i.e. if compromised like previous one or something else) and it would break this.

[2021-04-27 13:42] anton-roos commented on #938
I will give this a shot.

[2021-04-27 16:57] anton-roos commented on #938
Hi @MatkovIvan I do not know how to thank you. We are using [Flutter AppCenter Bundle](https://pub.dev/packages/flutter_appcenter_bundle) which wraps 3.2.1 and when I installed DigiCert Global Root G3 on the device it worked instantly. We now need to figure out how to install this cert programmatically with Flutter.

[2021-05-06 16:47] igor-khrupin-life360 commented on #1506
Do we have any updates regarding this bug?

[2021-05-06 19:03] laalto commented on #1506
As a temporary workaround, I'm locally redeclaring the appcenter components in app-level AndroidManifest.xml with explicit `android:exported` settings to enable Android S testing:

[code]

[2021-05-06 21:45] igor-khrupin-life360 commented on #1506
@laalto I did the same thing and using my fork as a dependency. I'm curious when we will be able to use at least a SNAPSHOT version of the lib.
Also, I have created PR with that fix. You can find it above.

[2021-05-07 08:50] AnastasiaKubova commented on #1506
We have already created a ticket about this issue. We will notify you when we will have any updates.

[2021-05-14 14:43] p-galanin opened #1530 "OutOfMemoryError on handling log sending failure"
### **Description**
Deleting logs after sending failure causes`OutOfMemoryError` in case of lots of payload files.

### **Repro Steps**

1. Generate a lot of large (> 2 mb) logs.
In our project we save native crash minidumps to the minidump folder. Each minidump is about 4 mb.
2. Start AppCenter with Crashes service.
Minidumps are converted and stored in /appcenter/database_large_payloads/groupErr

[2021-05-14 21:55] DmitriyKirakosyan commented on #1530
Hi @p-galanin

Thank you for bringing this issue to our attention!
We will test it and get back to you with an update.

[2021-05-17 11:16] AnastasiaKubova commented on #1530
Hi, @p-galanin ! I am trying to reproduce this issue but I can't get the same error. Have you a chance to share [verbose logs](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/android#adjust-the-log-level) with reproducing this issue or sample project with repo steps?

[2021-05-20 08:06] AnastasiaKubova commented on #1530
We haven’t heard from you in a while so I’m closing this issue but feel free to reopen this issue if you have additional questions.

[2021-05-20 08:06] #1530 closed

[2021-05-27 03:18] R9DCHDC opened #1533 "App ANR due to deadlock in appcenter SDK"
### **Description**

App ANR due to deadlock in appcenter SDK

### **Repro Steps**

Please list the steps used to reproduce your issue.

1.
2.

### **Details**

1. Which SDK version are you using?
    4.0.0

2. Which OS version did you experience the issue on?
Android 10

3. What device version did you see this error on?  Were you using an emulator or a physical device?
    Huawei

4. What third p

[2021-05-31 12:54] russelarms commented on #1533
@R9DCHDC thanks for reporting this! We'll investigate the problem.
In case you have mappings for these partly obfuscated stack traces, that would help us too.

[2021-05-31 12:57] russelarms commented on #1533
At the moment, the scenario looks like this:
[code]
[code]

[2021-05-31 15:42] elliemehrganrad opened #1535 "Explicitly specify `android:exported` for every components containing in manifest"
### **Description**

As one of the changes on apps targeting Android 12, it is forced to explicitly specify android:exported for every components containing `intent-filter` in manifest.

Targeting Android 12 we get manifest merge conflict caused by appcenter SDK 4.1.1

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Set the `targetSdkVersion` to "S
2. Try to rebuild

#

[2021-06-01 08:18] russelarms commented on #1535
Closing as a duplicate to https://github.com/microsoft/appcenter-sdk-android/issues/1506

[2021-06-01 08:18] #1535 closed

[2021-06-03 10:49] AnastasiaKubova commented on #1523
The fix has been released in the [4.2.0](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.2.0) version of App Center SDK. Please update the App Center SDK to the latest version and let me know if this issue still persists.

[2021-06-03 10:49] #1523 closed

[2021-06-03 10:50] AnastasiaKubova commented on #1506
The fix has been released in the [4.2.0](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.2.0) version of App Center SDK. Please update the App Center SDK to the latest version and let me know if this issue still persists.

[2021-06-03 10:50] #1506 closed

[2021-06-03 10:51] AnastasiaKubova commented on #1505
The fix has been released in the [4.2.0](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.2.0) version of App Center SDK. Please update the App Center SDK to the latest version and let me know if this issue still persists.

[2021-06-03 10:51] #1505 closed

[2021-06-03 11:38] AnastasiaKubova commented on #755
Hi there!
The App Center Push module has been removed from App Center SDK in the [4.0.0](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.0.0) version so we are closing this feature request.

As an alternative to App Center Push, we recommend you migrate to [Azure Notification Hubs](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-overvi

[2021-06-03 11:38] #755 closed

[2021-06-03 11:39] AnastasiaKubova commented on #1173
Hi there!
The App Center Push module has been removed from App Center SDK in the [4.0.0](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.0.0) version so we are closing this feature request.

As an alternative to App Center Push, we recommend you migrate to [Azure Notification Hubs](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-overvi

[2021-06-03 11:39] #1173 closed

[2021-06-03 13:30] tpucci commented on #1505
Thanks !

[2021-06-04 01:23] R9DCHDC commented on #1533
Yes. That's also what I observed.

[2021-06-08 10:48] elliemehrganrad opened #1541 "Comply with Google Play Device and Network Abuse policy"
### **Description**

Our application just got suspended from Google Play Store because of using a non-compliant version of Microsoft Appcenter SDK 2.5.0.
We would like to make sure that the lates version of appcenter SDK fixes this issue.

### **Details**

1. Which SDK version are you using?
    - 2.5.0

![image](https://user-images.githubusercontent.com/52495821/121172296-d408f980-c857-11eb-9fef-

[2021-06-08 10:57] AnastasiaKubova commented on #1541
Hi! Thanks for getting in touch with us!
Could you please clarify for what reason your app was blocked exactly? And which modules of App Center SDK do you use in your app?

[2021-06-08 11:00] AnastasiaKubova commented on #1541
If you use Distribute module in your app please follow [this guideline](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android#prepare-your-google-play-build) about preparing your app for publishing to Google Play.

[2021-06-08 11:19] elliemehrganrad commented on #1541
Hi,

The reason is about ​Device and Network Abuse policy. We use these dependancies:
"com.microsoft.appcenter:appcenter-analytics:2.5.0"
"com.microsoft.appcenter:appcenter-crashes:2.5.0"
"com.microsoft.appcenter:appcenter-distribute:2.5.0"

[2021-06-08 13:28] AnastasiaKubova commented on #1541
Looks like your issue related to Distribute module. The link from previous comment should help you to resolve this problem.
I’m closing this issue but feel free to reopen this issue if you have additional questions.

[2021-06-08 13:28] #1541 closed

[2021-06-08 13:31] elliemehrganrad commented on #1541
Yes, the goal of the ticket was to make sure that the issue has been fixed in the latest version. Thank you 👍

[2021-07-27 12:24] James-Aidoo opened #1545 "Allow specifying a custom Http Client"
We have apps that are supposed to run on Android versions below 5.0 (Appcenter supports 5.0 and above; but you know that already). It would be really great if you would allow users of the sdk to set a custom http client (like OkHttpClient) on which we could enable Tls on Android versions below 5.0 to fix certificate issues. Hopefully, if this is the reason the SDK supports only android versions fr

[2021-07-27 13:02] AnastasiaKubova commented on #1545
The Android API level was bumped to 21 in the [4.0.0 version](https://github.com/microsoft/appcenter-sdk-android/blob/develop/CHANGELOG.md#app-center-2) of App Center SDK because the root certificate authority of our App Center SSL (`DigiCert Global Root G2`) is unknown in `Android 4.x.` and it can't perform any calls to the backend from the SDK.
Unfortunately, I am not sure that any `HTTPS` calls

[2021-07-27 13:14] James-Aidoo commented on #1545
Thanks for getting back to me.
What version of the AppCenter SDK has support for `Android 4.x.`. We may have to downgrade to that or convince management to change the minimum supported Android version of our app.

[2021-07-27 13:20] James-Aidoo commented on #1545
I just found the version to `3.3.1`. Thanks.

[2021-07-27 13:29] AnastasiaKubova commented on #1545
Yes, you are right. But as I mentioned above due to the certificate issue on `Android 4.x` it will not work correctly on `3.3.1` version of App Center SDK.

[2021-07-27 13:30] James-Aidoo commented on #1545
I guess we have only one option then. Thank you.

[2021-07-27 13:49] AnastasiaKubova commented on #1545
Okay, then I’m closing this issue but feel free to reopen this issue if you have additional questions.

[2021-07-27 13:49] #1545 closed

[2021-07-27 13:59] James-Aidoo commented on #1545
Sure.

[2021-08-17 08:40] build3r opened #1547 "Update being skipped on ColorOS"
### InApp updates not working

The Inapp updates do not work if the user installed the app using ColorOS's file manager (com.coloros.filemanager)

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Install the app from a file manager **not** listed in the [LOCAL_STORES](https://github.com/microsoft/appcenter-sdk-android/blob/9e7bae9cfdfa69aa4eac5d855c6776f64422dd3f/sdk/ap

[2021-08-17 15:04] DmitriyKirakosyan commented on #844
Hi guys,

Thank you for bumping this feature request!
I'll discuss the issue within the team and we will decide if we should prioritze it.

If it is a blocker for you, please feel free to prepare a PR and test the changes on a demo app.
We will review and merge it if everything works as expected.

Thanks.

[2021-08-17 16:32] DmitriyKirakosyan commented on #1547
Hi @build3r

Thank you for reaching out to us!

Could you add more details on how the installation process looks like for ColorOS?
Do you install the app from the App Center portal?
Is it a default installer that OS uses to install your app from the App Center portal?

[2021-08-17 16:43] build3r commented on #1547
Our users share the apk with their friends via shareit or xender or whatsapp. This apk is saved on the device.
The user can access the apk file from the default file manager which is com.coloros.filemanager on ColorOS used by Oppo and Vivo OEMs.
When the app is installed by the filemanager the installer pakage is file manager instead of Android package installer.

This is not a issue if the app is

[2021-08-18 09:52] AnastasiaKubova commented on #1547
Hi @build3r ! This looks like expected behavior. If you install your app not via the install portal then in-app updates will not work. Please see [guideline](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android#how-do-in-app-updates-work) how to work in-app updates.

[2021-08-18 16:41] build3r commented on #1547
@AnastasiaKubova
Our app is currently on public track and we distribute it outside of Playstore, via app Center and our own website. And app center is used push updates.
Looking at sdk behaviour the assumption is the app on public tracks will be updated from app center if they are not installed from Playstore(due to its policy on outside updates).
Am I wrong in this assumption?

[2021-08-19 07:53] AnastasiaKubova commented on #1547
Yes, you are right! If you use a public group then in-app updates should work if you distribute your app outside of Play Store. App Center SDK currently supports the [next](https://github.com/microsoft/appcenter-sdk-android/blob/9e7bae9cfdfa69aa4eac5d855c6776f64422dd3f/sdk/appcenter-distribute/src/main/java/com/microsoft/appcenter/distribute/InstallerUtils.java#L44) local storages. I label this is

[2021-09-01 08:36] kamal-mobile-dev opened #1550 "Failed to download app update"
### **Description**

Hello,
I am getting latest update in app, but when it dowloaded and it comes message "Failed to download app update".
its happening in some devices like Realme X7 max pro

Logs
2021-09-01 14:03:28.486 31995-32039/? D/AppCenterDistribute: Download was successful for id=307
2021-09-01 14:03:28.488 31995-32039/? D/AppCenterDistribute: Cannot resolve install intent for content://d

[2021-09-01 17:16] DmitriyKirakosyan commented on #1550
Hi @kamalthebidigital

Thank you for bringing this issue to our attention!

Could you please share more details on how you distribute your builds to the App Center portal?
We had a couple of similar issues (#1499, #1418), could you please check if your problem is also related to the tools you use for the `apk` distribution.

Also, can you provide verbose logs of your app with `AppCenter.setLogLeve

[2021-09-02 04:20] kamalthebidigital commented on #1550
Hello @AnastasiaKubova , Here is compile and target SDK versions details
        buildToolsVersion = "30.0.2"
        minSdkVersion = 21
        compileSdkVersion = 30
        targetSdkVersion = 30
        googlePlayServicesAuthVersion = "16.0.1"

[2021-09-02 05:43] AnastasiaKubova commented on #1550
Thanks, @kamalthebidigital ! Could you tell me please how do you build your `apk` - on the App Center Portal or manually? Does it happen from time to time or regularly?

[2021-09-02 08:09] kamalthebidigital commented on #1550
Hello @AnastasiaKubova , I created apk through App Center Portal and most of our users is facing this issue.

[2021-09-02 09:22] AnastasiaKubova commented on #1550
Thanks for the details, I will check this behavior and return with the results.

[2021-09-03 05:49] AnastasiaKubova commented on #1550
I checked this issue via build on the App Center portal and for me all work well. Is this error occurring now or was it just once?

[2021-09-03 09:00] kamalthebidigital commented on #1550
Hello @AnastasiaKubova , still facing same issue, this issue is not coming in all android devices.
for eg. Realme x7 max , facing this issue.

[2021-09-03 09:41] AnastasiaKubova commented on #1550
Thanks for the details. It doesn't look like an SDK issue. Could you please [open a support ticket](https://docs.microsoft.com/en-us/appcenter/general/support-center#contact-us) on the App Center portal (click the help menu (?) in the upper right corner of the App Center porta).

[2021-09-07 08:16] AnastasiaKubova commented on #1533
Hi there! The fix has been released in the [4.3.1 version](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.3.1) of App Center SDK.

[2021-09-07 08:16] #1533 closed

[2021-09-07 08:51] AnastasiaKubova commented on #1547
Hi there! The fix has been released in the [4.3.1 version](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.3.1) of App Center SDK.

[2021-09-07 08:51] #1547 closed

[2021-09-22 23:22] bananabr opened #1556 "Logging of sensitive information"
### **Description**

Prior to Android 4.0, any application with READ_LOGS permission could obtain all the other applications' log output. After Android 4.1, the specification of READ_LOGS permission has been changed. Even applications with READ_LOGS permission cannot obtain log output from other applications.

However, by connecting an Android device to a PC, or when running a rooted device, log o

[2021-09-22 23:22] bananabr commented on #1556
Once the issue is fixed, please create a security advisory to a CVE is assigned to it by GitHub.

[2021-09-23 18:09] DmitriyKirakosyan commented on #1556
Hi @bananabr,

Thank you for getting in touch with us!

The lgtm report points to the Sasquatch app, which gives the token which is printed to output. Note, that Sasquatch app is a demo application and it is not a part of the SDK.
Also, this log is only printed if you have "verbose" log level, which you don't normally set for production apps.

If you still feel like it is a security issue in SDK,

[2021-09-23 18:15] bananabr commented on #1556
Thanks for the clarification @DmitriyKirakosyan! That's probably just a false positive.

I will close the issue.

[2021-09-23 18:15] #1556 closed

[2021-09-24 10:37] build3r commented on #1550
Having the same issue on Realme devices with Android 11
The Upldate dialog in show and when we click download after a few second we get
`Failed to download app update`
This is at line [RealeaseDownloadListener : 141](https://github.com/microsoft/appcenter-sdk-android/blob/f650d1d699384387f38fed63f8fec2cf8efa93f0/sdk/appcenter-distribute/src/main/java/com/microsoft/appcenter/distribute/ReleaseDownl

[2021-09-24 10:47] AnastasiaKubova commented on #1550
Hi, @build3r! Thanks for getting in touch with us!
Based on the request above the same issue happens also on the App Center portal so I can suspend that it is not an SDK issue.  Please [open a support ticket](https://docs.microsoft.com/en-us/appcenter/general/support-center#contact-us) on the App Center portal (click the help menu (?) in the upper right corner of the App Center porta).

[2021-09-24 10:51] build3r commented on #1550
@AnastasiaKubova This does not happen on App Center portal, I can download apk there without any problem. Also 80% of users can download apk with problems. Only specific devices are having this issue. Looks like its either Download Manager issue or Package Installer issue. Both of which are related to SDK.

[2021-09-24 11:03] AnastasiaKubova commented on #1550
@build3r  we had a couple of similar issues (#1499, #1418) and both were not related to App Center SDK. Please open a support ticket on the App Center portal (click the help menu (?) in the upper right corner of the App Center porta).

[2021-09-24 12:10] build3r commented on #1418
@AnastasiaKubova @russelarms
Check the whole flow and collected logs. Have also raised support request at Appcenter portal.
On Realme devices ❌ we are getting error "Installer not found"
Logs
[code]
Where as the same build and same distribution on Oneplus device ✅ is working fine
[code]

[2021-09-24 12:17] AnastasiaKubova commented on #1418
@build3r please try to check [these steps](https://github.com/microsoft/appcenter-sdk-android/issues/1499#issuecomment-760906896) on the Realme device.

[2021-09-24 12:31] AnastasiaKubova commented on #1418
@build3r Could you also please confirm that the download manager application is enabled on these devices?

[2021-09-24 12:32] build3r commented on #1418
@AnastasiaKubova I did try all of the steps, This happening on all the versions both on staging and public beta, also both mandatory and optional updates.
According to my debugging its either
1. May be the distribute sdk needs the new [package visibility ](https://developer.android.com/about/versions/11/privacy/package-visibility) permission declaration.
2. The Realme device is ignoring the conten

[2021-09-24 12:35] build3r commented on #1418
@AnastasiaKubova This was the the first I verified
The download manager is enabled and it being download
`Instrumentation	Download Service exists, downLoadService: android.app.DownloadManager@7602f60`

[2021-09-24 12:44] AnastasiaKubova commented on #1418
@build3r  if you add this permission to your application, the problem disappears? Does this issue happen only on Android 11 and only for Realme devices? Which type of in-app update do you use (default or mandatory)?

[2021-09-24 14:05] AnastasiaKubova commented on #1418
@build3r Does this issue happen only on Realm devices with Android 11?

If you add this permission does the issue disappear?

I'm not sure what you mean `device is ignoring the content-type header passed by appcenter`. Could you please clarify?

This issue happens [here](https://github.com/microsoft/appcenter-sdk-android/blob/f650d1d699384387f38fed63f8fec2cf8efa93f0/sdk/appcenter-distribute/src/ma

[2021-09-27 09:38] build3r commented on #1418
@AnastasiaKubova The above mentioned workarounds did not work.
Stumbled upon this thread
[android-10-no-activity-found-to-handle-intent](https://stackoverflow.com/questions/58085899/android-10-no-activity-found-to-handle-intent)
Which similar to the current problem and states that

And mentioned to use the new packageInstaller sessions api
[InstallApkSessionApi](https://android.googlesource.com/pl

[2021-09-27 10:52] AnastasiaKubova commented on #1418
Hi, @build3r ! Thanks for your suggestions. It looks like a feature request. I will create a WI on our board about it. But feel free to open a contribution PR with these changes if you already have a ready solution. For now as an alternative way for Realm devices you can try to update your apps via the App Center install portal.
Let's keep thread about this request issue [here](https://github.com/

[2021-09-29 07:38] build3r commented on #1550
Adding the details
The above mentioned workarounds did not work.
Stumbled upon this thread
[android-10-no-activity-found-to-handle-intent](https://stackoverflow.com/questions/58085899/android-10-no-activity-found-to-handle-intent)
Which similar to the current problem and states that

And mentioned to use the new packageInstaller sessions api
[InstallApkSessionApi](https://android.googlesource.com/

[2021-09-30 16:10] Mr777Nick commented on #1550
Can confirm that this issue also happening on Realme 5 Pro devices,

[2021-10-01 05:34] AnastasiaKubova commented on #1550
Hi, @Mr777Nick ! Does this issue happen only on Realme devices with Android 11? Or on the different Android versions? For now as an alternative way for Realm devices you can try to update your apps via the App Center install portal.

[2021-10-08 12:11] diogosapessoa opened #1558 "Track event wrong timestamp"
### **Description**

When the device's system time is incorrect, Analytics.TrackEvent saves timestamp incorrect too

### **Repro Steps**

1. Change time in device's settings
2. Call Analytics.TrackEvent(...)

### **Details**

1. Which SDK version are you using?
    - 4.3.1
2. Which OS version did you experience the issue on?
    - e.g. Android 6.0.1
3. What device version did you see this error on

[2021-10-08 13:29] #1558 closed, assigned to nobody

[2021-10-22 11:40] ljunquera opened #1563 "Android app crash in internal testing not showing in AppCenter"
My app is crashing when I release it for internal testing in the Google Play store. I thought it would be a good time see how the crashes appear in AppCenter, but I don't see them there. I am looking in Issues under Diagnostics in appcenter.ms. I have the appsecret correct, as I double checked and did see one other error that was in there from a few days ago.

In my MainActivity class in the onCre

[2021-10-26 02:52] ljunquera opened #1566 "W/AppCenter: Try #1 failed and will be retried in xxxx ms"
When I run my app in the emulator I always get this error:

[code]

I integrated exactly as was outlined in the portal and initiated in the MainActivity:

[code]

The configuration/device is as follow:

[code]

[2021-10-26 07:37] #1566 closed, assigned to nobody

[2021-10-29 08:20] #1563 closed, assigned to nobody

[2021-11-26 07:45] DmitriyKirakosyan commented on #1415
Since the question is resolved, I'm closing this issue.
Feel free to reopen if you have additional questions.

[2021-11-26 07:45] #1415 closed

[2021-11-26 07:51] DmitriyKirakosyan commented on #1434
Hi @caltseng , you can now test in-app updates without releasing a new version each time, following these steps:
-  [Enable in-app updates for debug builds](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android#enable-in-app-updates-for-debug-builds).
- Set a lower version of the application in your gradle file.
- Make sure you have at least one release on the App Center Portal with ve

[2021-11-26 07:51] #1434 closed

[2021-11-26 07:55] DmitriyKirakosyan commented on #955
Since this question is related to all App Center SDKs, I'm moving this feature request to the main repository.

[2021-11-26 08:01] DmitriyKirakosyan commented on #938
I'm going to close this issue as a duplicate of https://github.com/microsoft/appcenter/issues/67, please track the progress in the main repository.

[2021-11-26 08:01] #938 closed

[2021-11-30 13:47] jeroen-corteville commented on #1550
Hi @AnastasiaKubova,
Just to add on this, I'm seeing the same problem with my OnePlus 9, updated to Android 12. My colleague with an Android 11 OnePlus 6T was able to get the app to update without problems.

[2021-11-30 14:09] AnastasiaKubova commented on #1550
Hi, @jeroen-corteville! Thanks for the details. We already prepared a [fix](https://github.com/microsoft/appcenter-sdk-android/pull/1565) for it and it will be released soon. I will notify you when the fix will be available.

[2021-12-09 09:56] 0811002321 opened #1583 "https://appcenter.ms can not open"
### **Description**

Please describe the issue you are facing using the SDK.

### **Repro Steps**

Please list the steps used to reproduce your issue.

1.
2.

### **Details**

1. Which SDK version are you using?
    - e.g. 1.5.0
2. Which OS version did you experience the issue on?
    - e.g. Android 8.1.0
3. What device version did you see this error on?  Were you using an emulator or a physical d

[2021-12-09 10:26] AnastasiaKubova commented on #1583
Hi! Thanks for getting in touch with us!
Could you please describe your issue in more detail? Please share reproducing steps and [verbose logs](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/android)?

[2021-12-09 12:31] 0811002321 commented on #1583
https://appcenter.ms can not open，I can not see Analytics and Crashes info

[2021-12-09 12:40] #1583 closed

[2021-12-16 03:05] alvindizon opened #1584 "NullPointerException with StartServiceLog causes crash"
### **Description**

We updated the app from 4.3.1 to 4.4.1, and during the course of or testing we noticed that the app crashes during login. We couldn't reproduce this in other devices though, only in a Pixel 3a that's on Android 12. We tried it in an emulator but we couldn't reproduce it.

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Enter email and login
2. App

[2021-12-16 05:43] AnastasiaKubova commented on #1584
Hi! Thanks for getting in touch with us! I will label this as a bug.

[2021-12-19 16:00] R9DCHDC opened #1587 "Crash when installing in app update"
### **Description**
Got crash report after migrating to 4.4.1

#### Stacktrace
[code]
#### Reason
[code]

### **Repro Steps**

Do an in app update on Android 12 device.

### **Details**

1. Which SDK version are you using?
    4.4.1
2. Which OS version did you experience the issue on?
    Android 12
3. What device version did you see this error on?  Were you using an emulator or a physical device?

[2021-12-20 08:00] AnastasiaKubova commented on #1587
Hi! Thanks for getting in touch with us!
I will label this issue as a bug.

[2021-12-21 12:34] AnastasiaKubova commented on #1584
Hi! The fix [has been released](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.4.2), so I'm going to close this issue. Feel free to reopen it if you will have additional questions.

[2021-12-21 12:34] #1584 closed

[2021-12-21 12:34] AnastasiaKubova commented on #1587
Hi! The fix [has been released](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.4.2), so I'm going to close this issue. Feel free to reopen it if you will have additional questions.

[2021-12-21 12:34] #1587 closed

[2021-12-21 12:36] AnastasiaKubova commented on #844
Hi! The feature [has been released](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.4.1), so I'm going to close this issue. Feel free to reopen it if you will have additional questions.

[2021-12-21 12:36] #844 closed

[2021-12-21 12:37] AnastasiaKubova commented on #1575
Hi! The feature [has been released](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.4.1), so I'm going to close this issue. Feel free to reopen it if you will have additional questions.

[2021-12-21 12:37] #1575 closed

[2021-12-21 12:38] AnastasiaKubova commented on #1431
Hi! The feature [has been released](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.4.1), so I'm going to close this issue. Feel free to reopen it if you will have additional questions.

[2021-12-21 12:38] #1431 closed

[2021-12-24 04:33] drakeet opened #1593 "Don't crash when RemoteException with NetworkInfo"
[code]

### **Description**

See the above stack trace, it makes the app crash, which is unnecessary.

Please catch it and ensure don't crash when RemoteException with NetworkInfo. Thanks.

### **Details**

1. Which SDK version are you using?
    - 4.3.1

[2021-12-24 08:36] aleksandr-dorofeev commented on #1593
Hi @drakeet
Thank you for getting in touch with us!
Could you please share [verbose](https://docs.microsoft.com/en-gb/appcenter/sdk/other-apis/android#adjust-the-log-level) logs, repro steps and on which devices it happens?

[2021-12-30 23:56] alvindizon commented on #1584
Thanks @AnastasiaKubova , the fix solved the issue that we faced with the Pixel 3a device.

[2022-01-03 11:11] Mr777Nick opened #1594 "App downloaded from In-app-update won't detect another update"
### **Description**

I've been using the in-app-update feature for about 9 months, it worked perfectly fine. then around 2-3 weeks ago when the SDK is updated to 4.4.1 and 4.4.2, the application which downloaded from within the in-app-update, won't detect future updates. There's no dialog whatsoever that says there's an update, even though it exists.

### **Repro Steps**

1. Build the current app

[2022-01-04 16:03] fabiendem commented on #1575
Thanks @AnastasiaKubova & @DmitriyKirakosyan!

[2022-01-05 18:56] DmitriyKirakosyan commented on #1550
Hi @jlsjonas , the fix was released on Dec 21. It is now available in version 4.4.2.

[2022-01-05 18:57] #1550 closed

[2022-01-06 05:07] AnastasiaKubova commented on #1593
We haven’t heard from you in a while so I’m closing this issue but feel free to reopen this issue if you have additional questions.

[2022-01-06 05:07] #1593 closed

[2022-01-06 06:15] AnastasiaKubova commented on #1594
Hi, @Mr777Nick ! Thanks for getting in touch with us!
I was able to reproduce your issue and will label this issue as a bug.
I can suggest you a workaround for this issue. Please try to add the package name of your application via [this API](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/android#add-distribution-stores) before App Center start:
[code]
and let me know about the results?

[2022-01-10 04:26] Mr777Nick commented on #1594
Hey @AnastasiaKubova, thanks for your help, the workaround does fix this issue for now, I'll keep using it until the fixed version is released. Thanks again!

[2022-01-14 11:11] AnastasiaKubova commented on #1456
Hi there! The feature has been released in the [4.4.2](https://github.com/microsoft/appcenter-sdk-android/releases).

[2022-01-14 11:11] #1456 closed

[2022-01-27 12:49] AnastasiaKubova commented on #1495
Hi there! The feature [has been released](https://github.com/microsoft/appcenter-sdk-android/releases).

[2022-01-27 12:49] #1495 closed

[2022-01-29 02:50] vvb2060 opened #1597 "customize app version read by appcenter"
**Is your feature request related to a problem? Please describe.**

https://developer.android.com/studio/build/configure-apk-splits#configure-APK-versions

We have 5 different versions (arm64 arm x86 x86_64 universal) for each release. We want to merge the 5 versions of the data and can upload mapping only once.

**Describe the solution you'd like**
We want to be able to customize the version read

[2022-01-30 20:21] AnastasiaKubova commented on #1597
Hi! Thanks for getting in touch with us!
We already have a similar feature request for another platform in our main repository. Let's track the progress of this feature [here](https://github.com/microsoft/appcenter/issues/1313).
Community contributions are always welcome.

[2022-01-30 20:21] #1597 closed

[2022-01-31 01:18] vvb2060 commented on #1597
Do you allow adding Channel listener? If so, I will open a PR.

[2022-02-02 12:48] BaloghTamas opened #1598 "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.Boolean.booleanValue()' on a null object reference"
### **Description**
We had received multiple crashes, with the following crashlog:

[code]

Based on that it seems something is wrong with the code [here](https://github.com/microsoft/appcenter-sdk-android/blob/a46b6628960becaa1b57fc5803898e1f33c8418b/sdk/appcenter/src/main/java/com/microsoft/appcenter/ingestion/models/StartServiceLog.java#L76) as it assumes `IS_ONE_COLLECTOR_ENABLED` is part of t

[2022-02-02 12:50] BaloghTamas commented on #1598
Looks like this is fixed in 4.4.2 https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.4.2, closing this issue

[2022-02-02 12:50] #1598 closed

[2022-02-14 05:39] vvb2060 opened #1599 "Crash when direct boot"
### **Description**

[code]

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Add ` AppCenter.start()` when `Application.onCreate()`
2. add receiver
[code]
3. reboot and `logcat -b crash`

### **Details**

1. Which SDK version are you using?
   4.4.2
2. Which OS version did you experience the issue on?
   Android 7.0+
3. What device version did you see this error on?  W

[2022-02-14 13:41] AnatolyPristensky commented on #1599
Hello @vvb2060
And thank you for getting in touch with us!
I'm working on your issue. Will update this conversation once get results.

[2022-02-16 10:12] vvb2060 commented on #1599
No need to reproduce, just follow this guide https://developer.android.com/training/articles/direct-boot to fix it.

[2022-02-16 10:15] vvb2060 commented on #1599
before getSharedPreferences(), cell UserManager.isUserUnlocked()

[2022-02-16 11:46] AnatolyPristensky commented on #1599
@vvb2060
I've filed a bug on our internal dashboard. Thank you for the update.

[2022-02-21 11:16] AnastasiaKubova commented on #1599
Hi, @vvb2060!
The App Center SDK doesn't support this behavior. Could you please try to check this workaround in your project before App Center start? Do it resolve your issue?

[code]

[2022-02-21 11:59] vvb2060 commented on #1599
Of course this workaround won't fix the problem, you need to replace the context with deviceProtectedContext in appcenter library. I can't help you because I can only pass in the application object to initialize, not context.

[2022-02-21 12:03] AnastasiaKubova commented on #1599
Ok, I got it. Thanks for the quick check.
The App Center SDK does not support this behavior for now. I will label this issue as a feature request.
Also, feel free to open contribution PRs if you already have a solution.

[2022-02-21 12:36] canyie commented on #1599
Why this is a feature request? Both [direct boot](https://developer.android.com/training/articles/direct-boot) and [FBE](https://source.android.com/security/encryption/file-based) are introduced in Android 7.0, shouldn't it be a bug that App Center doesn't support features introduced in official Android nearly 6 years ago?

[2022-02-21 13:14] qqlittleice233 commented on #1599
When the device has been powered on but the user has not unlocked the device in Direct Boot Mode, components can't access the device encrypted storage and credential encrypted storage. To access device encrypted storage, you should use [context.createDeviceProtectedStorageContext()](https://developer.android.com/training/articles/direct-boot#access) instead of context. So it is a bug, isn't it?

[2022-02-22 04:55] AnastasiaKubova commented on #1599
The App Center SDK does not support work in this mode for now. We will start this feature as soon as possible. Contribution PRs are welcome.

[2022-02-24 11:25] clhols commented on #1594
@AnastasiaKubova Isn't it worth creating a 4.2.3 release just for this fix? It seems odd that this kind of bug has been out there for so long.

[2022-02-24 11:29] AnastasiaKubova commented on #1594
Hi! Thanks for getting in touch with us!
This bug has a workaround. We notify you when the fix will be released.

[2022-02-24 11:37] clhols commented on #1594
But everyone updating to the newest SDK version will encounter this issue and have to find this GitHub issue and implement the workaround. It would be best if you released a new version quickly to avoid new users and updaters to experience this bug and use time and resources to debug and implement the workaround.

[2022-02-24 12:29] fabiendem commented on #1594
Hey +1 to @clhols

@AnastasiaKubova In the `CHANGELOG.md` and [releases](https://github.com/microsoft/appcenter-sdk-android/releases) could you please at least flag the versions which have this bug?
This is a critical bug. 🐛

Consider scenarios where it's not just one or two devices to update but 100s.
Here since you can't download update, the app is "bricked". The fix is fine if you're aware of i

[2022-02-24 14:16] DmitriyKirakosyan commented on #1594
Hi @fabiendem , we've updated the `CHANGELOG.md` and Release information. Thank you!

[2022-03-01 07:17] gediseer opened #1603 "Memory leak due to didn't unregister broadcastReceiver on Distribute."
### **Description**
Memroy leak has been found on All Activity, heap dump is below:
![image](https://user-images.githubusercontent.com/7627120/156122208-33fe1d9c-4fc1-4312-8e82-17031315c89a.png)
Looks lile it's caused by not unregistering the broadcast receiver after it's been registered on every "onResume" of each activity.
suggested fixed is unregister broadcast receiver on "onPause"
![image](ht

[2022-03-01 07:21] gediseer commented on #1603
BTW, we are moving on to finish our target android sdk 31 working now, so the appcenter:4.4.2 is essential, can you fix this ASAP to unblock our target sdk 31 work?

[2022-03-01 13:30] fabiendem commented on #1603
(@gediseer be aware of https://github.com/microsoft/appcenter-sdk-android/issues/1594)

[2022-03-02 06:46] gediseer commented on #1603
thanks @fabiendem I will apply this workaround, and Do you or @AnastasiaKubova know the ETA of this leak fix? We are impacted by this bug seriously and the ETA of our target sdk 31 work is near.

[2022-03-02 06:59] AnastasiaKubova commented on #1603
Hi there! We don't have concrete FTE when this issue will be fixed. We will notify you when this fix will be available.

[2022-03-03 04:39] gediseer commented on #1603
Hi, @AnastasiaKubova, thanks for the reply, do you have any workaround to mitigate this problem? cause it blocks our release recently.

[2022-03-03 06:46] AnastasiaKubova commented on #1603
No, we don't have a workaround for it. We will notify you when this fix will be available.

[2022-03-04 02:18] zamgill opened #1604 "DistributeListener not resuming when returning from release notes"
### **Description**

When using a DistributeListener the update dialog disappears when "View Release Notes" button is clicked and release notes url is opened. If `Distribute.checkForUpdate()` is called manually at this point when returning to the app, it does not work. Log messages show the following:
[code]

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Setup a dist

[2022-03-04 10:54] AnastasiaKubova commented on #1604
Hi! Thanks for getting in touch with us! I will label this issue as a bug.

[2022-03-14 19:04] aballano commented on #1594
Thank you for the workaround, unfortunately it seems this API wasn't added for the no-op version (appcenter-distribute-play) so I guess to make this work is better to stay in 4.4.1 and wait for [4.4.3](https://github.com/microsoft/appcenter-sdk-android/commit/5a174473ad65ecf2f87bfaadb0fa19876489178f)?

[2022-03-15 05:14] TedaLIEz commented on #1594
This issue exists from 3.3.0, because the LOCAL_STORE filter the application's id itself, so every time the application tries to install the in-app update from itself, it will return false when we check isInstalledFromAppStore in the Distribute API, and then skip the update.
![image](https://user-images.githubusercontent.com/8800730/158311225-8988c397-eafb-4679-83ea-a722267467ff.png)
![image](http

[2022-03-16 08:42] sergei-fedorov commented on #1594
Unfortunately, in-app update is not working with MIUI optimizations enabled.
As for the issue when you are not able to install an update second time, it is a known issue. See the original thread:
 https://github.com/microsoft/appcenter-sdk-android/issues/1594.

[2022-03-16 12:35] Bombo commented on #1243
@russelarms @MatkovIvan I'm actually seeing the same error happening.

[code]

This happened with 4.4.1, but updating to 4.4.2 didn't change anything.

[2022-03-16 19:08] kvpt opened #1610 "NullPointerException on app resume"
### **Description**
We add a lot crashs in the last update of our application, and this seems to come from AppCenter SDK.

### **Repro Steps**
Nothing special, the app randomly crash on resume

### **Details**
1. Which SDK version are you using?
    - DotNet 4.5, Android 4.4.2 ?
2. Which OS version did you experience the issue on?
    - No specific version
3. What device version did you see this e

[2022-03-21 03:15] DmitriyKirakosyan commented on #1594
Hi folks, we just released a new version with this fix included.

[2022-03-21 03:15] #1594 closed

[2022-03-21 03:16] DmitriyKirakosyan commented on #1603
Hi @gediseer, we just released a new version with this fix included!

[2022-03-21 03:16] #1603 closed

[2022-03-21 03:16] DmitriyKirakosyan commented on #1604
Hey @zamgill , we released a new version with this fix included.

[2022-03-21 03:16] #1604 closed

[2022-03-21 04:03] DmitriyKirakosyan commented on #1243
Hi @Bombo , thank you for reaching out to us!

Please share verbose logs. You can enable it using `AppCenter.setLogLevel(Log.VERBOSE)` before your call to `AppCenter.start(...)`.

[2022-03-21 04:09] DmitriyKirakosyan commented on #1610
Hi @kvpt , thank you for bringing this issue to our attention!

Can you please share verbose logs?
Also, could you list the changes in your app in the last update and check if anything could potentially trigger this issue?

[2022-03-21 07:55] Bombo commented on #1243
@DmitriyKirakosyan Sure. Here you go:
[appcenter_logs.txt](https://github.com/microsoft/appcenter-sdk-android/files/8313815/appcenter_logs.txt)

Also note that we don't have this issue on _all_ devices/users. There are the ones where crash logs still come through. Obviously it's hard to say what the ratio is, though. :)

[2022-03-21 09:12] zamgill commented on #1604
Thanks a lot!

[2022-03-22 14:48] DmitriyKirakosyan commented on #1243
@Bombo , thank you for the logs!

Can you also tell more about the devices the issue can be reproduced on? Android version, manufacturer, specs, etc?
You also mentioned that it may depend on users. Does it mean that it may work for some users and fail for others while running on the same device? If so, do you find any suspicious difference between such users?

[2022-03-23 04:14] DmitriyKirakosyan commented on #1243
@Bombo, Thank you for the details and have a good days off!

If anyone else faces this issue, please let us know. Any additional information would be appreciated.
It would be extremely helpful if anyone would able to reproduce this issue on a demo application and share it with us.

[2022-03-24 10:24] kvpt commented on #1610
Hi,

For this version the log level is on default level I will enable the verbose log in the next version to debug that.

For the changes, The Microsoft.AppCenter nuget packages has been passed from 4.4.0 to 4.5.0 and the Xamarin Android target Framework as been passed from version 11 to 12 (api 30 to 31).

Another information that I discovered is that all the crashs are triggered at the launch be

[2022-03-27 10:33] DmitriyKirakosyan commented on #1610
Hi @kvpt , thank you for the details! I'll mark it as a bug and move to the [appcenter-sdk-dotnet](https://github.com/microsoft/appcenter-sdk-dotnet) repo.
Please let us know when you get verbose logs.
I've found a similar issue https://github.com/microsoft/appcenter-sdk-android/issues/929, might be related.

[2022-03-29 06:53] TedaLIEz opened #1612 "Installing app through in-app update do an IO in main thread (ANR)"
### **Description**

User will be stuck at in-app update after he/her downloads the update and install.

![image](https://user-images.githubusercontent.com/8800730/160550790-9e49e5bf-e740-4d99-b4aa-7fd8fc61eefd.png)

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Install apk from appcenter distribution, finish the appcenter login to enable in-app update
2. release a n

[2022-03-29 09:10] TedaLIEz commented on #1612
Btw this should be a bug, should not be tagged as `support` but somehow the issue is assigned with a `support` tag

[2022-03-29 09:15] TedaLIEz opened #1613 "App doesn't resume when the user clicks on the download notification."
### **Description**

Application doesn't bring to foreground after clicking on the notification "App update downloaded"

### **Repro Steps**

Please list the steps used to reproduce your issue.

1.Release a new build in appcenter
2.Open the app
3. With the update dialog, click the download button to download the update.
4. Before the download is complete, press home button to bring the app to back

[2022-03-30 08:53] AnatolyPristensky commented on #1612
Hello @TedaLIEz,
We filed an item on our internal dashboard to check this case, we will update this conversation once got results.

[2022-03-30 09:05] AnatolyPristensky commented on #1613
Hello @TedaLIEz,
We filed an item on our internal dashboard to check this case, we will update this conversation once got results.

[2022-03-31 11:41] corneliu-serediuc opened #1614 "Intent Redirection vulnerability - Google Play security error"
### Intent Redirection

**Error / Security**

Your app contains an Intent Redirection vulnerability. Please see [this Google Help Center article](https://support.google.com/faqs/answer/9267555) for details.

com.microsoft.appcenter.distribute.AppCenterPackageInstallerReceiver.onReceive
sv:deadline:05/01/2022

[2022-04-01 05:10] DmitriyKirakosyan commented on #1614
Hi @corneliu-serediuc , thank you for reaching out to us!

From your message I can conclude that you published the app with the `distribute` module, which you should not do.
We have a separate module called `distribute-play` with stubbed API that should be used for Google Play builds.
See [Prepare your Google Play build](https://docs.microsoft.com/en-us/appcenter/sdk/distribute/android#prepare-you

[2022-04-01 06:08] corneliu-serediuc commented on #1614
Hi @DmitriyKirakosyan,

Thank you for the reply. I have already prepared the build as instructed. I am using Xamarin and this is what I have included in my .csproj file:

`	<ItemGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
		<PackageReference Include="Microsoft.AppCenter.Distribute" Version="4.5.0" />
	</ItemGroup>
	<ItemGroup Condition=" '$(Configuration)|$(Platform)' ==

[2022-04-01 12:21] fabiendem commented on #1613
@TedaLIEz What's your `targetSdkVersion`?

If you have a `targetSdkVersion` of `31`, I am wondering if you're not running into this behavior change: https://developer.android.com/about/versions/12/behavior-changes-12#notification-trampolines

I am asking because I am looking into bumping the `targetSdkVersion` to `31` (Android 12) in my app, so I am looking at those changes now.

[2022-04-01 12:38] fabiendem opened #1615 "Allow use of Android 12 "Automatic app updates" feature"
**Is your feature request related to a problem? Please describe.**

This is a feature request.
In Android 12, a new API has been announced, called Automatic App Updates
See https://developer.android.com/about/versions/12/features#automatic-app-updates

The method is described at
https://developer.android.com/reference/android/content/pm/PackageInstaller.SessionParams#setRequireUserAction(int)

The

[2022-04-02 02:33] TedaLIEz commented on #1613
@fabiendem Yes, my `targetSdkVersion` is 31, but I read through the code https://github.com/microsoft/appcenter-sdk-android/blob/4.4.3/sdk/appcenter-distribute/src/main/java/com/microsoft/appcenter/distribute/Distribute.java#L2009 the notification doesn't have a pending intent, so it should be happened if targetSdkVersion is not 31.

[2022-04-04 15:58] aleksandr-dorofeev commented on #1615
Hi! Thanks for bringing this to our attention!
I am created an item on our dashboard for this feature request. We will update this conversation once finished.

[2022-04-05 14:02] aleksandr-dorofeev commented on #1614
Hi @corneliu-serediuc!
I'm not quite sure if the configuration you suggested is correct. Because, such a configuration does not protect against getting our packages to GooglePlay. Please see the [documentation](https://docs.microsoft.com/en-gb/appcenter/sdk/distribute/xamarin#remove-in-app-updates-for-google-play-builds). Also I suggest you check the contents of the `bin/release` or `/debug` direc

[2022-04-08 14:01] fabiendem commented on #1613
Ha ok I understand now.
There is no call to `.setContentIntent` so the notification does nothing.
https://developer.android.com/training/notify-user/build-notification#click

[2022-04-12 04:11] DmitriyKirakosyan commented on #1614
Hi @corneliu-serediuc , does the problem still persist for you?
Just a small correction to the answer above, you need to check if `Distribute.Android.Bindings.dll` is present in the folder you configure for the google play distribution (in your snippet it is "Release") and if it is there, you do something wrong. Also, I would recommend creating a separate configuration like "GooglePlay", as "Relea

[2022-04-12 04:11] #1614 closed

[2022-04-20 09:28] PiotrKorzekwa opened #1616 "AppCenterDistribute won't detect another update - not checking in app updates as installed from a store"
SDK 4.5.0 / Xamarin

The app only updates once. Subsequent application updates are not work.
During debugging, the application was categorized as an application from the store
'not checking in app updates as installed from a store.'

**Repro Steps**

Repro Steps
1. Build the current app (v1.0) and distribute it from within the App Center
2. Download the app from the App Center (v1.0), then install

[2022-04-20 10:00] #1616 closed

[2022-04-20 10:02] PiotrKorzekwa commented on #1616
moved to the correct repository

[2022-04-22 02:14] TedaLIEz opened #1617 "In-App Update return UX error: Failed to start installing new release. The file is invalid, but the installation is indeed successful"
### **Description**

User gets the update through in-app update successfully, but the UX shows error message: "Failed to start installing new release. The file is invalid." and "Something went wrong. Update was not installed."

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Install apk from appcenter distribution, finish the appcenter login to enable in-app update
2.

[2022-04-26 11:04] AnatolyPristensky commented on #1617
Hello @TedaLIEz and thank you for getting in touch with us!
We are filed bug on our internal dashboard and will investigate it. Will back to you once get results.

[2022-04-27 16:45] fabiendem opened #1619 "Installation of mandatory update is stuck after cancel confirmation dialog"
### **Description**

On Android 8 (Level 26 and later), when we want to install an update, we are prompted with an alert to grant the permission to "Draw over other apps".

Piece of code at https://github.com/microsoft/appcenter-sdk-android/blob/80592335a068cdfa09c6fd684a67fed5b77c824a/sdk/appcenter-distribute/src/main/java/com/microsoft/appcenter/distribute/Distribute.java#L1631-L1687

When the a

[2022-05-02 16:08] aleksandr-dorofeev commented on #1619
Hi @fabiendem , thank you for getting in touch with us!
Based on your description, I'm assuming this is a duplicate.
You can track progress in this [thread](https://github.com/microsoft/appcenter-sdk-android/issues/1612). So I'm closing this issue. Feel free to reopen this issue if there are questions or if you disagree.

[2022-05-02 16:49] aleksandr-dorofeev commented on #1619
Hello @fabiendem ,  thank you for getting in touch with us!
Based on your description, I'm assuming this is a duplicate. You can track progress on this [issue1612](https://github.com/microsoft/appcenter-sdk-android/issues/1612).
So I'm closing this issue. Feel free to reopen this issue if there are questions or if you disagree.

[2022-05-02 17:59] aleksandr-dorofeev commented on #1619
Hello @fabiendem , thank you for getting in touch with us!
It looks like a [duplicate](https://github.com/microsoft/appcenter-sdk-android/issues/1612). I will close this issue. Feel free to reopen it in case of any questions.

[2022-05-03 10:04] fabiendem commented on #1619
OK, I see now

[2022-05-04 17:41] ivanorezac opened #1620 "4.4.4 version not released"
### **Description**

If appcenter-sdk-react-native is used, on building android it produces error:
* What went wrong:
Execution failed for task ':app:mergeDebugAssets'.

     Searched in the following locations:
       - https://repo.maven.apache.org/maven2/com/microsoft/appcenter/reactnative/appcenter-react-native/4.4.4/appcenter-react-native-4.4.4.pom
       - file:/Users/name/.m2/repository/com

[2022-05-05 07:58] aleksandr-dorofeev commented on #1620
Hello @ivanorezac thank you for getting in touch with us!
This looks like a [duplicate](https://github.com/microsoft/appcenter-sdk-react-native/issues/976).
Maven repository https://repo.maven.apache.org/maven2/com/microsoft/appcenter/reactnative/appcenter-react-native/ has been updated with the latest 4.4.4 release.
Please check if it works now?
I am closing this issue. Feel free to reopen it if

[2022-05-05 07:58] #1620 closed

[2022-05-08 04:23] vvb2060 commented on #1599
My workaround

[code]

[2022-05-09 02:10] TedaLIEz commented on #1613
I believe this issue was introduced in 4.4.0, because in 3.3.1, the notification has set a pending intent, however since 4.4.0 the pending intent is removed. There is a high chance that this would cause a regression. Our user is expected to see that he/she will resume to the app or start updating after clicking the notification.

[2022-05-09 07:55] DmitriyKirakosyan commented on #1613
Hi @TedaLIEz , the fix will be available in the next release this quarter.

[2022-05-11 16:54] fabiendem opened #1624 "[Distribute] Consider opt-in for "Draw over apps" permission"
**Is your feature request related to a problem? Please describe.**

When installing an update for the first time, the user is prompted for the "Draw over apps" permission:
- Previously called [`SYSTEM_ALERT_WINDOW`](https://developer.android.com/reference/android/Manifest.permission#SYSTEM_ALERT_WINDOW).
- Replaced with Intent to `[Settings.ACTION_MANAGE_OVERLAY_PERMISSION](https://developer.andro

[2022-05-12 06:48] DmitriyKirakosyan commented on #1624
Hi @fabiendem , thank you for reporting this issue!
I created a work item on our board. We will inform you on the progress.

[2022-05-12 10:49] MatkovIvan commented on #1624
It's not that part of code, but anyway - starting the app doesn't work without this permission.

Currently it's already optional - we'll try to install even if the customer just cancel this dialog.

I totally agree. We decided to remove it in future versions and post notification instead of opening the app.

[2022-05-12 11:06] fabiendem commented on #1624
Thanks @MatkovIvan!

🙃  I got lost in trying.

Yes I noticed that.

Awesome thank you 🚀

[2022-05-12 11:10] fabiendem commented on #1624
One note though, Android 13 will introduce...... "Notification permission": https://developer.android.com/about/versions/13/changes/notification-permission

[2022-05-17 11:55] BryanSharp commented on #1613
Thank you team for the reply and sharing the status. @DmitriyKirakosyan

I'm from the same team with @TedaLIEz on Microsoft Phone Link team. And I want to share that we have online users facing this issue and it's impacting our product, so it would be helpful if you can prioritize this and share with us if there is a new version with the fix available. Thank you!

[2022-05-17 12:40] AnatolyPristensky commented on #1613
Hello @BryanSharp ,
Release with the fix is scheduled at the end of this quarter.
As a temporary workaround, please downgrade to SDK [4.3.1](https://github.com/microsoft/appcenter-sdk-android/releases/tag/4.3.1)
We will update this thread once release with the fix be available.

[2022-05-17 12:53] microsoft-github-policy-service[bot] opened #1627 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-17 13:58] #1627 closed

[2022-05-18 09:37] TedaLIEz commented on #1613
We're working on targeting Android SDK 31 and SDK 4.4.2 fixed an issue in Android SDK 31, so I'm afraid we can't downgrade to SDK 4.3.1

[2022-05-18 13:32] MatkovIvan commented on #1619
It's a different problem. Reopened, renamed to make the case more clear

[2022-05-26 10:41] MatkovIvan commented on #1619
It will be in the next one, I'll link PR with this issue.

JFYI - the root problem is that [android doesn't catch this event at all](https://stackoverflow.com/questions/71647218), so some workarounds required from our side.

[2022-05-26 11:46] fabiendem commented on #1619
Thank you.
I see all your recent PRs, you're crushing it, thanks for considering the feedback we provide 🙏

[2022-06-23 18:11] DmitriyKirakosyan commented on #1619
The fix has been released!
I'm closing the issue, but feel free to reopen if you face it again.

[2022-06-23 18:11] #1619 closed

[2022-06-23 18:12] DmitriyKirakosyan commented on #1613
The fix has been released!
I'm closing the issue, but feel free to reopen if you face it again.

[2022-06-23 18:12] #1613 closed

[2022-06-23 18:13] DmitriyKirakosyan commented on #1610
The fix has been released!
I'm closing the issue, but feel free to reopen if you face it again.

[2022-06-23 18:13] #1617 closed

[2022-06-23 18:14] #1612 closed

[2022-06-23 18:14] #1599 closed

[2022-06-24 07:26] DmitriyKirakosyan commented on #1624
The fix has been released!
I'm closing the issue, but feel free to reopen if you face it again.

[2022-06-24 07:26] #1624 closed

[2022-06-24 14:53] yujincheng08 opened #1638 "NPE if `AppCenter.start` is called on `Application.attachBaseContext`"
### **Description**

NPE if `AppCenter.start` is called on `Application.attachBaseContext`. This is because `getApplicationContext` is still not avaliable then.

### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Create an android App
2. Create your own Application that extends `Application`
3. Override `attachBaseContext` and call `AppCenter.start` on it
4. NPE

### **De

[2022-06-24 14:56] vvb2060 commented on #1638
We have passed in the application object, why are you still calling getApplicationContext()?

[2022-06-24 15:17] vvb2060 commented on #1638
We have passed in the application object, why are you still calling getApplicationContext()? Application is a subclass of Context. getApplicationContext() may return null.

https://github.com/microsoft/appcenter-sdk-android/blob/90baebbd0cdbcadc4dda3af729cf86de249c0e10/sdk/appcenter/src/main/java/com/microsoft/appcenter/ApplicationContextUtils.java#L26-L39

[2022-06-24 16:22] MatkovIvan commented on #1638
It was out of our test cases, thanks for the report. Should be fixed in #1639

[2022-06-27 09:33] yujincheng08 commented on #1638
Fixed in #1639

[2022-07-08 20:01] snijsure commented on #1615
FWIW we  upgraded to AppCenter SDK 4.4.3 and on Android 12 devices I still don't get any update prompt may be it is because of the reasons mentioned above.

I thought AppCenter SDK 4.4.3 fixed the issue with checking new release with this PR? - https://github.com/microsoft/appcenter-sdk-android/pull/1595

@aleksandr-dorofeev

[2022-07-11 10:31] AnatolyPristensky commented on #1615
Hello @snijsure,
Looks like that these issues are not related. We are already have an item on our internal dashboard for fixing above mentioned issue.
Will update this thread once get results.

[2022-07-11 10:49] fabiendem commented on #1615
@AnatolyPristensky Sorry I know it's not the right thread but..

Which issue are you referring to?
I have tested updates using 4.4.5 a dozen times in different scenarios on Android 12 and didn't see any issue. So now I am wondering if I have missed something.
The only thing is that I am not targeting Android 12 yet. I use `targetSdkVersion 30` instead of `targetSdkVersion 31`

[2022-07-11 11:19] AnatolyPristensky commented on #1615
@fabiendem, sorry for misunderstanding. I meant that we already have an item for this feature request and the PR mentioned by @snijsure isn't related to your feature request.

[2022-07-11 11:30] fabiendem commented on #1615
@AnatolyPristensky 😄 OK great, thanks for the clarification

[2022-07-12 14:45] fabiendem opened #1644 ""App installed" alert no longer present when update installation is done"
### **Description**

Previously, before appcenter-sdk-android 4.4.3+, once the update was installed, a screen or an alert (depends on the OS) would be rendered once the app is installed.
The user would then be able to tap on "Open" and the updated app would start.
This behaviour is still present in other side loading apps (Files, Google Chrome, etc.):

<img src="https://user-images.githubuserconte

[2022-07-12 15:03] fabiendem commented on #1644
I am wondering if it's not because you immediately close the installation session when you start it:
https://github.com/microsoft/appcenter-sdk-android/blob/bad11c3410b2379bb25a30f9523cf24f30c58fb0/sdk/appcenter-distribute/src/main/java/com/microsoft/appcenter/distribute/install/session/SessionReleaseInstaller.java#L207-L208

[2022-07-13 10:55] fabiendem commented on #1644
👍 thank you.
No worries, the InstallPackage API is pretty obscure and the doc difficult to grasp.

Sorry, I realized that we've been using 3.3.0 before, so 3.3.0 is my point of reference, which was using the old `ACTION_INSTALL_PACKAGE`.

If it can help:
Google provides one example with the old [ACTION_INSTALL_PACKAGE](https://developer.android.com/reference/android/content/Intent#ACTION_INSTALL_P

[2022-07-19 16:23] fabiendem commented on #1644
Trying to see if it's worth waiting for the next update: would you have a rough timeline around this issue to be investigated and eventually fixed?
Thanks!

[2022-07-19 18:41] MatkovIvan commented on #1644
~ETA for next release is end of Q3, but in this case it's 90% "by design". I'll do my best to investigate the root cause of it during a week.

[2022-07-21 03:31] kyh8496 opened #1645 "Fatal Exception: java.lang.NullPointerException Attempt to invoke interface method 'boolean android.content.SharedPreferences.getBoolean(java.lang.String, boolean)' on a null object reference"
### **Description**
Fatal Exception: java.lang.NullPointerException
Attempt to invoke interface method 'boolean android.content.SharedPreferences.getBoolean(java.lang.String, boolean)' on a null object reference

com.microsoft.appcenter.utils.storage.SharedPreferencesManager.getBoolean (SharedPreferencesManager.java:68)
com.microsoft.appcenter.AbstractAppCenterService.isInstanceEnabled (AbstractAp

[2022-07-21 07:43] MatkovIvan commented on #1645
Duplicate of #1610, already fixed in latest version

[2022-07-21 07:43] #1645 closed

[2022-07-21 08:32] kyh8496 commented on #1645
thank you

[2022-07-26 10:48] MatkovIvan commented on #1644
Okay, this dialog is [implemented](https://android.googlesource.com/platform/packages/apps/PackageInstaller/+/47fe118e0178e9d72c98073ff588ee5cf353258e/src/com/android/packageinstaller/InstallAppProgress.java) as part of `ACTION_INSTALL_PACKAGE` workflow. More of that it's might differ on different device manufacturers.
In the mentioned implementation they show this dialog only if `EXTRA_RETURN_RES

[2022-07-26 10:48] #1644 closed

[2022-08-09 16:41] fabiendem commented on #1644
OK thanks @MatkovIvan 👍

[2022-08-17 13:43] drakeet opened #1646 "AppCenter produces up to 8.16 GB of JSON files"
### **Description**

As the title says, my app uses the AppCenter Android SDK. My users have reported to me that AppCenter generates a lot of files. The problem is obvious, as shown in the following figure:

![image](https://user-images.githubusercontent.com/5214214/185148716-5fa54a18-8c4f-4078-acd6-7074fe527e7b.png)

### **Details**

1. Which SDK version are you using?
    - 4.4.3
[code]

2. Whic

[2022-08-17 15:24] MatkovIvan commented on #1646
Hi @drakeet,
Thanks for getting in touch and highlighting this case.

By design, this should be covered by [storage size limit](https://docs.microsoft.com/en-us/appcenter/sdk/other-apis/android#storage-size), but currently it's applied only to DB.
For context - these files were workaround of db value size limit (storing values bigger than ~2 MB), but it was missed in storage size calculation.

Mar

[2022-08-18 12:02] snijsure commented on #1646
@MatkovIvan Under what circumstances are these large data files generated?

[2022-08-18 12:53] MatkovIvan commented on #1646
As mentioned above, the value (JSON data of a log/report that SDK has to send to backend later) bigger than ~2MB stored outside of DB because of `Cursor` implementation limitations. SDK stores it only until successful transmission via network.
As for the source of such large value - one of the known cases is a huge stack trace in an error report.

[2022-08-19 00:46] snijsure opened #1647 "AppCenter has stopped prompting users to install new version"
### **Description**

AppCenter doesn't prompt users if there is new release is available
### **Repro Steps**

Please list the steps used to reproduce your issue.

1. Install older version of the app
2. Have latest versions available in app-center
3. Observe that folks running older version of the app never get prompted to upgrade the app.
4. Note this issue happens on Android 10, 11 & 12 versions.

[2022-08-19 10:45] DmitriyKirakosyan commented on #1647
Hi @snijsure , thank you for reaching out to us!
This issue doesn't seem to be related to the SDK itself.
Please reach out to our [support team](https://docs.microsoft.com/en-us/appcenter/help). They will respond quickly and sync with the backend team to check if there is any existing issue.
Also, the [status pag](https://status.appcenter.ms/)e says that there are some issues in Distribute, which

[2022-08-19 10:45] #1647 closed

[2022-08-31 15:01] pmarienfeld commented on #1647
Hi @snijsure, currently I'm facing the same issue. Has the App Center support team been able to resolve this?

[2022-09-21 08:26] Abhi011999 commented on #1647
Same here, any updates on this ?

[2022-10-03 08:46] hiteshsarsava opened #1652 "Caused by java.lang.IllegalArgumentException: Unknown URL content://downloads/my_downloads"
SDK Versions used :

[code]

![image](https://user-images.githubusercontent.com/16486943/193535617-d63b22a2-8df3-460c-a5de-25f288e213e5.png)
![image](https://user-images.githubusercontent.com/16486943/193535803-6d645213-6e5b-41d2-9d53-552d86589dba.png)
![image](https://user-images.githubusercontent.com/16486943/193535934-eca4473f-e993-4a31-8a9b-36c653bf05e2.png)

[2022-10-04 05:51] DmitriyKirakosyan commented on #1652
Hi @hiteshsarsava , please update the AppCenter SDK to 4.1.1 or higher. It is recommended to use the latest version (currently 4.4.5). This crash was fixed in https://github.com/microsoft/appcenter-sdk-android/pull/1508.
It is happening because the Download Manager is disabled.

[2022-10-04 05:51] #1652 closed

[2022-10-07 11:08] pedrorgr opened #1653 "Custom events with session id 00000000-0000-0000-0000-000000000000"
### **Description**

We exported analytics data from application insights and we have some custom events with session id = 00000000-0000-0000-0000-000000000000.
Is this expected ? Isn't the 00000000-0000-0000-0000-000000000000 used for failure events?

### **Details**

1. Which SDK version are you using?
    - 3.0.0
2. Which OS version did you experience the issue on?
    - Multiple versions
3. Wh

[2022-10-09 18:55] DmitriyKirakosyan commented on #1653
Hi @pedrorgr , thank you for reaching out! May I know how you start AppCenter SDK? Do you use Analytics module? Please share the code snippet of your AC SDK initialization.
This `00..' session id means there was no session id sent within the event. Can you try to update SDK to the latest version (currently 4.4.5) and check if it helps?

[2022-10-11 23:28] pedrorgr commented on #1653
Hi, thank you for the quick reply.  We start the appcenter SDK like this:
   override fun startAppCenter() {
        AppCenter.start(
            application,
            application.getString(R.string.app_center_key),
            Analytics::class.java,
            Crashes::class.java
        )
    }

startAppCenter() is called in onCreate method from the MainActivity.
Do you think this could be t

[2022-10-13 06:06] DmitriyKirakosyan commented on #1653
Hi @pedrorgr , AppCenter SDK uses activity's `onResume` event as a starting point of a new session. If you call Analytics.TrackEvent before `onResume` is called, then your event will be sent without session id.

Does it answer your question?

[2022-10-14 05:57] DmitriyKirakosyan commented on #1653
InstallId is set once the AppCenter initialized first time on the device, so basically it is one install id for every app installation.
As for `CorrelationId`, there is no such property in SDK logs.

[2022-10-19 14:20] vjgarciag96 opened #1656 "NullPointerException on Distribute.resumeDistributeWorkflow"
### **Description**

We are experiencing the next crash in our app, which seems to come from the distribute SDK:

[code]

### **Repro Steps**
Unfortunately, we don't have any consistent repro steps. We have one user that somehow has got into a state in which they always run into the crash every time they open the app.

Some things that may be relevant:

1. The user was using an AppCenter-provided

[2022-10-19 14:28] vjgarciag96 commented on #1656
By digging into the code the problem seems to be that `mForegroundActivity` is null at this point: https://github.com/microsoft/appcenter-sdk-android/blob/82e68bb7764c0607ca2def51874965116123dff1/sdk/appcenter-distribute/src/main/java/com/microsoft/appcenter/distribute/Distribute.java#L1584

There's a check for `mForegroundActivity != null` in `resumeDistributeWorkflow` (which seems to be the only

[2022-10-21 03:29] DmitriyKirakosyan commented on #1656
Hi @vjgarciag96 , thank you for this report and the details! I'm marking it as a bug.
May I ask you to send more logs? from the app start til the crash happens?

[2022-10-21 09:00] vjgarciag96 commented on #1656
May I ask you to send more logs? from the app start til the crash happens?

@tehmur can you please help providing the requested logs?

[2022-10-24 06:42] DmitriyKirakosyan commented on #1656
Turn on verbose logging (`AppCenter.setLogLevel(Log.VERBOSE)`) before `AppCenter.Start`. Run the app and find the app logs tracing in the Android Studio's logcat. I would like to see more AppCenter related logs before the app crashes.

[2022-10-24 12:59] shadyabarada commented on #1656
Hi @vjgarciag96 , alongside the requested logs (after you produce them),  would it be possible to try clearing app cache and data from the device settings and trying to open the app again and share with us if the issue continuous?

[2022-10-26 04:07] DmitriyKirakosyan commented on #1653
Closing, but feel free to reopen if you have any additional questions.

[2022-10-26 04:07] #1653 closed

[2022-11-10 07:03] bqliang opened #1664 "Callback for manually checkUpdate"
Is there any way to set a callback for manually checkUpdate separately? like `Distribute.checkForUpdate(checkUpdateListener)`
When the user manually checks for updates but no release available, I want to pop up a toast to remind the user. I can only set callbacks for global check updates now like `Distribute.setListener(DistributeListener)`, This is not what I want, because every time start the ac

[2022-11-10 22:56] aleksandr-dorofeev commented on #1664
Hello @bqliang, Thanks for getting in touch with us!
The expected behavior is the update notification on clicking the corresponding button? Could you clarify this point?

[2022-11-11 06:37] bqliang commented on #1664
![](https://p0.meituan.net/dpplatform/e62aa0ee734115675d2a286d95f46996146466.png)

[2022-11-11 10:27] aleksandr-dorofeev commented on #1664
Unfortunately, AppCenter SDK does not have such API. However, this can be easily achieved on the app side, with using an additional flag or so. Unfortunately, at this moment I can't say that this feature will be picked up any soon due to it specific use case, so I'm closing this issue. Let's see if anyone else is interested in it.

[2022-11-11 10:27] #1664 closed